//Swami Shreeji
//CSS for Personal Website

.page-header {
	font-size: 30px;
	width: 980px;
}

body {
	background-color: ;
}

h1 {
	position: relative;
	font-size: 70px;
}

small {
	position: relative;
	left: 80px;
}

img {
	width: 950px;
}

#front {
	text-align: center;
}

#front h1 {
	margin-left: -10%;
}

#nav {
	margin-top: 5px;
	margin-left: 20px;
}

#nav li {
	margin-left: 30px;
}

#head {
	padding-top: 10px;
}

#hello { 
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#welcome { 
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}


#who {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#hobbies {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#goals {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#edu {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#pro {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 	
}

#leader {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 	
}

#work {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#contact {
   color: white; 
   font: bold 24px/45px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.2);
   padding: 10px; 
}

#home-billboard {
	width: 100%;
	background-image: url(../images/sapan2.jpg);
	background-repeat: no-repeat;
	background-position: center -250px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

#aboutme-billboard {
	width: 100%;
	background-image: url(../images/sapan1.jpg);
	background-repeat: no-repeat;
	background-position: center -200px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 600px;
}


#inspiration-billboard {
	width: 100%;
	background-image: url(../images/inspiration.jpg);
	background-repeat: no-repeat;
	background-position: center -100px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

#education-billboard {
	width: 100%;
	background-image: url(../images/education1.jpg);
	background-repeat: no-repeat;
	background-position: center -150px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

#projects-billboard {
	width: 100%;
	background-image: url(../images/projects.png);
	background-repeat: no-repeat;
	background-position: center -50px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

#leadership-billboard {
	width: 100%;
	background-image: url(../images/leadership.jpg);
	background-repeat: no-repeat;
	background-position: center -160px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

#work-billboard {
	width: 100%;
	background-image: url(../images/work1.jpg);
	background-repeat: no-repeat;
	background-position: center -160px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

#contact-billboard {
	width: 100%;
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
	background-position: center -20px;
	margin-top: ;
	margin-right: 10px;
	margin-bottom: 100px;
	margin-left: ;
	height: 500px;
}

/*RUTGERS LOGO */
#rutgers {
	width: 259px;
	height: 271px;
	float: right;
	position: absolute;
	right: -40px;
	top: -230px;
}

/*RUTGERS LOGO */
#outerrutgers {
	position: relative;
}

/* Current Books & Research */
#startup {
	width: 74px;
	height: 104px;
}

#definingdecade {
	width: 74px;
	height: 104px;
}

#jastropan {
	margin-top: 60px;
}

.list-group-item:hover {
	color: white;
	background-color: #428BCA;
}




/*MEDIA QUERIES ------------------------ */

/*Samsung GS4 */
@media all and (max-width: 320px) and (max-height: 640px) {

	/* Home Page */
	.page-header h1 {
		font-size: 30px;
	}

	#front h1 {
		font-size: 24px;
	}

	.page-header small {
		font-size: 10px;
		margin-left: -40%;
	}

	.nav > li > a {
		position: ;
		width: 220px;
		padding-left: 80px;
	}

	#home-billboard {
		background-image: url('../images/sapan2_small.jpg');
		background-repeat: no-repeat;
		background-position: center -60px;
		background-size: cover;
		margin: 0px 0px -20px 0px;
	}

	#home-billboard p {
		visibility: hidden;
	}

	/* About Me Page */
	
	#head small {
		visibility: hidden;
	}

	#aboutme-billboard p {
		visibility: hidden;
	}

	.container h1 {
		font-size: 45px;
	}

	#aboutme-billboard {
		background-image: url('../images/sapan1_small.jpg');
		background-repeat: no-repeat;
		background-position: center -100px;
	}

	/* Inspiration Page */

	#inspiration-billboard {
		background-image: url('../images/inspiration_small.jpg');
		background-repeat: no-repeat;
		background-position: center -10px;
	}


	/* Education Page */

	#education-billboard {
		background-image: url('../images/education1_small.jpg');
		background-repeat: no-repeat;
		background-position: center 0px;
	}

	#education-billboard p {
		visibility: hidden;
	}

	#rutgers {
		visibility: hidden;
	}


	/* Project Page */


	#projects-billboard {
		background-image: url('../images/projects_small.png');
		background-repeat: no-repeat;
		background-position: center 0px;
	}

	#projects-billboard p {
		visibility: hidden;
	}

	#finger {
		padding: 0px 15px 0px 15px;
	}

	#finger-p {
		padding: 0px 15px 0px 15px;
	}

	#mo {
		padding: 0px 15px 0px 15px;
	}

	.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	}
 
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    padding-left: 10px;
    	padding-right: 10px;
	}

	/* Leadership Page */

	#leadership-billboard {
		background-image: url('../images/leadership_small.jpg');
		background-repeat: no-repeat;
		background-position: -20px 10px;
	}

	#leadership-billboard p {
		visibility: hidden;
	}

	/* Work Experience Page*/

	#work-billboard {
		background-image: url('../images/work1_small.jpg');
		background-repeat: no-repeat;
		background-position: center 0px;
	}

	#work-billboard p {
		visibility: hidden;
	}

	#works h2 {
		padding: 0px 15px 0px 15px;
	}

	/* Contact Page */

	#contact-billboard {
		background-image: url('../images/contact_small.png');
		background-repeat: no-repeat;
		background-position: -120px 0px;
	}

	#contact-billboard p {
		visibility: hidden;
	}


}



/*Smartphones (Iphone & Samsung)*/
@media all and (min-width : 320px) and (max-width : 540px) {
	

}





























/*Inbetween Smartphone and Tablet*/
@media only screen and (min-width : 541px) and (max-width : 768px) {
	
	/* Home Page */
	.page-header h1 {
		font-size: 46px;
	}

	.page-header small {
		font-size: 16px;
		margin-left: -30%;
	}

	.nav > li > a {
	position: ;
	width: 220px;
	padding-left: 80px;
	}

	#home-billboard p {
		visibility: hidden;
	}

	#rutgers {
		visibility: hidden;
	}

}



/*IPAD Tablet*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {

	/* Home Page */
	.page-header h1 {
		font-size: 62px;
	}

	.page-header small {
		font-size: 22px;
	}

	#home-billboard p {
		visibility: hidden;
	}

	#rutgers {
		visibility: hidden;
	}


}

